.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 8vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tight-header{
  margin-block-end: 1vh;
  margin-block-start: 1vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.ilControl {
  min-height: 30vh;
  padding: 2vh;
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.wordlist-panel {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

textarea.wordlist-area {
  flex: 1;
  align-self: stretch;
}

.settings-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.play-button {
    background: rgba(25,65,235,0.9);
    margin: 9px;
    width: fit-content;
    right: 0px;
    padding: 8px 20px;
    position: absolute;
    color: white;
    cursor: pointer;
}

.ilPage {
  min-height: 65vh;
  background-color: #eee;
}

.page-holder {
  height: 1510vw;
  width: 95vw;
}

.il-card {
  stroke: #111;
  stroke-width: 1px;
  fill-opacity: 0.4;
  fill: #ff3333;
}

.il-card text {
  fill: #000;
  font-family: "Verdana", sans-serif;
}

.red-fill {
  fill: #ff3333;
}

.blue-fill {
  fill: #3333ff;
}

@media print {
  .ilControl, .play-button, .App-header {
    display: none;
  }

  .ilPage {
    background-color: #fff;
  }

  .page-holder {
    height: 122.3in;
    width: 7.5in;
    stroke: 1px black;
  }

  .break-after {
    page-break-after: always;
  }

  .il-card {
    stroke: #444;
    stroke-width: 2px;
    fill: #fff;
  }
}
